<h2>Добавление студента</h2>

<%= form_for :student, url: iv871_path do |f| %>
    <p>
        
       Название</br>
        <%= f.text_field :tittle %>
    </p>
    <p>
       Название<br>
        <%= f.text_field :grady %>
    </p>
    <p>
        <%= f.submit %>
    </p> 
<%end%>